APP_NAME=Laravel
APP_ENV=local
APP_KEY=base64:61J2nKbyaFWzyftZ8xQzN3PJWwZdcdHjDyLj4/spdxs=
APP_DEBUG=true
APP_URL=http://localhost
APP_TIMEZONE=Asia/Dhaka

LOG_CHANNEL=stderr
LOG_SLACK_WEBHOOK_URL=

DB_CONNECTION=mysql
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=laravel
DB_USERNAME=sham
DB_PASSWORD=secret

CACHE_DRIVER=file
QUEUE_CONNECTION=sync

REDIS_CLIENT=predis

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=


REDIS_CACHE_HOST=redis
REDIS_CACHE_PORT=6379
REDIS_CACHE_PASSWORD=

REDIS_QUEUE_HOST=redis
REDIS_QUEUE_PORT=26379
REDIS_QUEUE_PASSWORD=
