NGINX_VHOST_ENABLE_HTTP_TRAFFIC=true
NGINX_VHOST_ENABLE_HTTPS_TRAFFIC=true
NGINX_VHOST_SERVER_NAME=_
NGINX_VHOST_HTTP_SERVER_NAME=_
NGINX_VHOST_CLIENT_MAX_BODY_SIZE=2m
NGINX_VHOST_SSL_CERTIFICATE=/etc/ssl/certs/ssl-cert-snakeoil.pem
NGINX_VHOST_SSL_CERTIFICATE_KEY=/etc/ssl/certs/ssl-cert-snakeoil.key
