#############################################################
# Docker Compose Common Settings
#############################################################

# Necessary for Windows
COMPOSE_CONVERT_WINDOWS_PATHS=1

# Select which docker-compose files to include. Append more with `:docker-compose.prod.yml` at the end
#COMPOSE_FILE=docker-compose.yml:docker-compose.override.prod.yml:docker-compose.override.dev.yml:docker-compose.override.yml
COMPOSE_FILE=docker-compose.yml

# Change the separator from : to ; on Windows
COMPOSE_PATH_SEPARATOR=:

# Define the prefix of container names.
COMPOSE_PROJECT_NAME=dockerized_laravel

# All volumes driver
VOLUMES_DRIVER=local

# All Networks driver
NETWORKS_DRIVER=bridge

# Enter your Docker Host IP (will be appended to /etc/hosts). Default is `10.0.75.1`
DOCKER_HOST_IP=10.0.75.1

# Timezone
TIMEZONE="Asia/Dhaka"

# Proxy
APP_HTTP_PROXY=
APP_HTTPS_PROXY=
APP_NO_PROXY=localhost,127.0.0.*

# Build Mode ['dev', 'prod']
DOCKER_BUILD_MODE=prod

# Docker Build Context Dir (end by slash)
DOCKER_BUILD_CONTEXT_DIR=../

# Docker Volume Root Dir (end by slash)
DOCKER_VOLUME_ROOT_DIR=../

# Docker Volume Codes Root Dir (end by slash)
DOCKER_VOLUME_CODES_ROOT_DIR=../codes/

#############################################################
# Services Settings
#############################################################

# Web Service
WEB_HTTP_PUBLISH_PORT=8107
WEB_HTTPS_PUBLISH_PORT=8108

# Redis Service
REDIS_PUBLISH_PORT=6404

# Adminer Service
ADMINER_PUBLISH_PORT=8204

# DB Service
DB_PUBLISH_PORT=3704
DB_DATA_VOLUME=mysql